.follow-ups{
    text-align: center;
    background-color: #fdc02f
}

button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    padding: 10px;
    border-radius: 10px;

}

button:hover {
    background-color: #fdc02f;
    color:white;
    
}

.selectdropdown {
    font-size: 17px;

}

.center-nav{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}





